@model STO.ViewModels.STOCardModel
<h2 style="text-align:center">Информация о СТО</h2>
<div style="text-align:center">
    <label>Название</label><br />
    @Model.Name
</div>
<div style="text-align:center">
    <label>Адрес</label><br />
    @Model.Adres
</div>
<div style="text-align:center">
    <label>Закрыто</label><br />
    @Model.Close
</div>
<div style="text-align:center">
    <label>Открыто</label><br />
    @Model.Open
</div>
<div style="text-align:center">
    <label>Контакты</label><br />
    @Model.Contacts
</div>
<div style="text-align:center">
    <label>Описание</label><br />
    @Model.Description
</div>
<div style="text-align:center">
    <label>Выполняемые работы</label><br />
    @Model.Services
</div></br>
<div style="text-align:center">
    <input class="btn" type="button" value="Записаться" onclick="javascript:window.location.href='@(Url.Action("Record", "STO", @Model))'" />
</div></br>
<div style="text-align:center">
    <label>Рейтинг</label><br />
    @Model.Rating
    <input class="btn" type="button" value="Оценить" onclick="javascript:window.location.href='@(Url.Action("Evaluation", "STO", @Model))'" />
</div></br>
<div style="text-align:center">
    <label>Комментарии</label><br />
    <input class="btn" type="button" value="Оставить коментрарий" onclick="javascript:window.location.href='@(Url.Action("Coments", "STO", @Model))'" /></br></br>
    <table class="table"></br>
        @foreach (var coment in Model.Coments)
        {
            <tr>
                @coment.Coment
            </tr>
        }
    </table>
</div>
