@model STO.ViewModels.STOCardModel
<h2>Регистрация нового пользователя</h2>
<div>
    <label asp-for="Name"></label><br />
    @Model.Name
</div>
<div>
    <label asp-for="Adres"></label><br />
    @Model.Adres
</div>
<div>
    <label asp-for="Close"></label><br />
    @Model.Close
</div>
<div>
    <label asp-for="Open"></label><br />
    @Model.Open
</div>
<div>
    <label asp-for="Contacts"></label><br />
    @Model.Contacts
</div>
<div>
    <label asp-for="Description"></label><br />
    @Model.Description
</div>
<div>
    <label asp-for="Services"></label><br />
    @Model.Services
</div>
<div>
    <label asp-for="Rating"></label><br />
    @Model.Rating
    <input type="button" value="Оценить" onclick="javascript:window.location.href='@(Url.Action("Evaluation", "STO", @Model))'" />
</div>
<div>
    <label asp-for="Coments"></label><br />
    <input type="button" value="Оставить коментрарий" onclick="javascript:window.location.href='@(Url.Action("Coments", "STO", @Model))'" />
    <table class="table">
        @foreach (var coment in Model.Coments)
        {
            <tr>
                @coment.Coment
            </tr>
        }
    </table>
</div>
<div>
    <input type="button" value="Записаться" onclick="javascript:window.location.href='@(Url.Action("Record", "STO", @Model))'" />
</div>